*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: calibri;
}
body{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 24, 53);
    height: 100%;
}

.tabla{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.cabecera > .columna{
    background-color: rgb(31, 83, 160);
    font-weight: bold;
    color:white;
    cursor: default;
}

.fila{
    display: flex;
    gap:20px;
    align-items: center;
    transition: all .4s ease;
}
.columna{
    background-color: rgb(12, 50, 107);
    padding:20px;
    width: 200px;
    color:rgb(226, 226, 226);
    text-align: center;
    color:rgb(148 191 255);
    font-weight: bold;
    transition: all .2s ease;
    cursor: pointer;
}
.posicion{
    width: 50px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #366dc0;
    font-weight: normal;
}
.fila:hover:not(.cabecera){
    transform: translateX(20px);
}
.fila:hover .columna:not(.posicion,.cabecera>.columna){
    background-color: rgb(11, 29, 54);
}
.columna:hover:not(.cabecera>.columna,.posicion){
    transform: scale(1.1);
    transform: rotateZ(20deg);
    color:white;
    background-color: rgb(5 37 84) !important;
}